[Unit]
Description=Set Carbot ARM to Neutral Position on Boot
After=multi-user.target

[Service]
Type=oneshot
User=jnx
WorkingDirectory=/home/jnx/Prajwal/carbot_new_main
ExecStart=/usr/bin/python3 /home/jnx/Prajwal/carbot_new_main/carbot_record.py --file actions/neutral.json --play
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
