[Desktop Entry]
Type=Application
Version=1.0
Name=Sirena
GenericName=Sirena Control Center
Comment=Control Sirena robots (Nina arm playback and recording)
Exec=__EXEC__
Path=__PATH__
Icon=__ICON__
Terminal=false
Categories=Utility;
StartupNotify=true
Keywords=robot;sirena;nina;dynamixel;
